{
  "plugins": ["prettier"],
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
