:root {
  /* Sizing */
  --unit: 0.25em;
  --unit-x2: calc(var(--unit) * 2);
  --unit-x3: calc(var(--unit) * 2 * 2);

  /* Colours */
  --white: #fff;
  --neutral: #ccc;
  --primary: #1453de;
  --primary-dark: #0f41af;
  --secondary: #13c339;
  --secondary-dark: #0e9e2d;
}
