:root {
  /* Sizing */
  --unit: 0.25em;
  --unit-sm: calc(var(--unit) / 2);
  --unit-x2: calc(var(--unit) * 2);
  --unit-x3: calc(var(--unit) * 3);
  --unit-x4: calc(var(--unit) * 4);

  /* Colours */
  --white: #fff;
  --faint: #eee;
  --neutral: #ccc;
  --black: #010101;

  --primary: #336dff;
  --primary-light: #6691ff;
  --primary-dark: #2340e6;
  --primary-inverse: #2340e6;

  --secondary: #68ca6d;
  --secondary-light: #8dd891;
  --secondary-dark: #42bd48;
  --secondary-inverse: #2e8433;

  --tertiary: #ffe666;
  --tertiary-light: #ffee99;
  --tertiary-dark: #ffde33;
  --tertiary-inverse: #8a7300;

  --mono: #969696;
  --mono-light: #bbb;
  --mono-dark: #595959;
  --mono-inverse: #595959;
}
